In [1]:
import pandas as pd

In [2]:
pd.read_csv("rs.csv")

        Unnamed: 0            user   item  qty             datetime
0                0  32011003635952  16198    1  2014-01-01 00:39:00
1                1  32009100468450  18107    4  2014-01-01 01:07:00
2                2  32013007873699  13612    2  2014-01-01 07:00:00
3                3  32011004803503  42496    1  2014-01-01 07:06:00
4                4  32011004221857   8875    4  2014-01-01 07:09:00
5                5  32013008136502   9600    1  2014-01-01 07:09:00
6                6  32013008323704  10988    1  2014-01-01 07:12:00
7                7  32013008403642  10823    1  2014-01-01 07:14:00
8                8  32011004801400   7831    3  2014-01-01 07:30:00
9                9  32010102910601  12749    1  2014-01-01 07:31:00
10              10  32013006615030   9458    1  2014-01-01 07:32:00
11              11  32010102897735   9446    3  2014-01-01 08:05:00
12              12  32010103038533  10131    1  2014-01-01 08:07:00
13              13  32010103038533  16450    1  2014-01-01 08:07:00
14              14  32012005509449   8839    1  2014-01-01 08:09:00
15              15  32012005509449  12301    1  2014-01-01 08:09:00
16              16  32011004041905   8098    1  2014-01-01 08:16:00
17              17  32009100088085  11150    4  2014-01-01 08:19:00
18              18  32013007565686  11658    1  2014-01-01 08:28:00
19              19  32013007565686  11651    1  2014-01-01 08:28:00
20              20  32013007565686  14263    2  2014-01-01 08:28:00
21              21  32013008081178   9039    1  2014-01-01 08:29:00
22              22  32013008596986   8871    1  2014-01-01 08:30:00
23              23  32013008596986   8923    1  2014-01-01 08:30:00
24              24  32013008596986  19803    2  2014-01-01 08:30:00
25              25  32013008596986   8872    1  2014-01-01 08:30:00
26              26  32013007428714  11374    1  2014-01-01 08:36:00
27              27  32013007428714  10987    4  2014-01-01 08:36:00
28              28  32013007718402  12423    2  2014-01-01 08:43:00
29              29  32013008191167  13120    1  2014-01-01 08:44:00
...            ...             ...    ...  ...                  ...
242094      242094  32013007258724   9465    1  2014-12-31 23:13:00
242095      242095  32012005147214   6681    1  2014-12-31 23:14:00
242096      242096  32012006174158   9006    1  2014-12-31 23:14:00
242097      242097  32013007651600  20916    1  2014-12-31 23:17:00
242098      242098  32010102890507   7965    1  2014-12-31 23:18:00
242099      242099  32010101904090  11154    4  2014-12-31 23:18:00
242100      242100  32010102890507   7744    1  2014-12-31 23:18:00
242101      242101  32010102890507  42020    1  2014-12-31 23:18:00
242102      242102  32013007074669  19113    1  2014-12-31 23:20:00
242103      242103  32013007074669  20703    1  2014-12-31 23:20:00
242104      242104  32013006869587   6681    1  2014-12-31 23:21:00
242105      242105  32013010347194  15409    1  2014-12-31 23:25:00
242106      242106  32011004502802  10751    4  2014-12-31 23:25:00
242107      242107  32013010019756  16592    1  2014-12-31 23:25:00
242108      242108  32013009726269   8993    1  2014-12-31 23:26:00
242109      242109  32013009726269  19918    1  2014-12-31 23:26:00
242110      242110  32012005638774   9002    1  2014-12-31 23:29:00
242111      242111  32009100173965   9467    2  2014-12-31 23:33:00
242112      242112  32010102538270  10751    2  2014-12-31 23:33:00
242113      242113  32013008026605  41266   39  2014-12-31 23:33:00
242114      242114  32010102538270  19408    1  2014-12-31 23:33:00
242115      242115  32013009307185  45845    1  2014-12-31 23:37:00
242116      242116  32013006747441  10751    1  2014-12-31 23:38:00
242117      242117  32009100741713  42844    1  2014-12-31 23:38:00
242118      242118  32013007095947  13620    1  2014-12-31 23:40:00
242119      242119  32013007095947   9617    2  2014-12-31 23:40:00
242120      242120  32013008555907  19960    1  2014-12-31 23:44:00
242121      242121  32013008581210   9458    3  2014-12-31 23:50:00
242122      242122  32013007459879  19917    1  2014-12-31 23:52:00
242123      242123  32013008455900  10751    1  2014-12-31 23:57:00

[242124 rows x 5 columns]